---
import Layout from "@/layouts/Layout.astro"
import Logo from "@assets/Logo.webp";
import data from "@/lib/data/aboutServices.json"
import AnimatedLogo from "@/components/AnimatedLogo.astro"
---

<Layout title="About" description="Stellar se encargará de llevar tus ideas al siguiente nivel con luz propia!">
    <main class="container mx-auto">
        <section class="w-full max-h-full">  
            <h2 class="text-5xl font-bold mb-5 md:px-4 my-10" >Who we are?</h2>
            
            <div class="grid grid-cols-1 md:grid-cols-2">
            <article class="w-[100%] h-auto p-12 mb-10 rounded-sm bg-clip-padding bg-gradient-to-r from-white/20 via-cyan-300/20 to-indigo-500/20">
                <p class="text-xl">Welcome to STELLAR, where technology and creativity converge to propel your business to new heights. Founded in November 2023, STELLAR is a cutting-edge software and digital marketing company committed to delivering exceptional services and innovative solutions tailored to meet the unique needs of our clients.
                </p>
            </article>
            <div class="relative pointer-events-none pb-10">
                <div class="absolute -z-1 top-40 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white/20 rounded-full w-60 h-60 blur-3xl"/>
                <picture class="flex  justify-center items-center -z-0 transition-all duration-1000">
                    <img src={Logo.src} alt="Stellar logo" class="w-[70%] transition-all duration-1000 pointer-events-none"/>
          
                </picture>   
            </div>
        </div>
            <div>
        </section>
        <section class="container mx-auto px-4 transition-all duration-1000">
            <h2 class="text-5xl font-bold mb-5 my-10 transition-all duration-1000">Our services</h2>
                <p class="text-xl w-auto">At STELLAR, we offer a comprehensive suite of services designed to enhance your digital presence and drive measurable results:</p>
                <article class="flex flex-col md:flex-row transition-all duration-1000">
                    <div class="grid md:max-w-[60%] mb-10 transition-all duration-1000">
                {data.aboutServices.map((service) => (
                    <div class="flex flex-col justify-center md:max-w-[90%] transition-all duration-1000">
                        <h3 class="text-3xl font-bold mb-2 md:px-4 my-10 transition-all duration-1000">{service.title}</h3>
                        <p class="text-xl flex justify-center">{service.description}</p>
                    </div>
                ))}
                    </div>
                <div class="grid justify-center items-center mb-10transition-all duration-1000">
                    <article>
                        <AnimatedLogo width={300} height={500} />
                    </article>
                </div>
                </article>
        </section>
    </main>
</Layout>

