---
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import CallToAction from '@/components/CallToAction.astro';
import Projects from './Projects.astro';
---

<Layout title="Stellar" description='Stellar se encargará de llevar tus ideas al siguiente nivel con luz propia!'>
	<main>
		<Hero/>
		<CallToAction/>
		<Projects/>
	</main>
</Layout>

<style>
	
</style>
