---
import example from "@assets/example.png";
---

<h2 class="text-4xl font-bold px-10 md:mx-20 pb-20 animate-fade-in transition-all duration-1000">
    PROJECTS & CLIENTS
</h2>

<section class="flex p-4 gap-12 justify-center border-b rounded-b-[5rem] pb-32 z-50">
    
    <article class="w-[50em] h-auto " data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="50">
        <div class="relative h-auto w-full bhg-white/10"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_400px_at_50%_200px,#380670,transparent)]">
        </div>
        <div class="relative w-[50em] overflow-hidden items-center justify-center py-20 pl-16 bg-white/10">
            
        <picture >
            <img class="w-full h-auto hover:scale-105 transition-all duration-300" src={example.src} alt="Stellar logo"/>
        </picture>
        </div>  
    </div>
        <footer class="flex justify-between p-4 ">
            <p class="font-medium text-xl">Stellar Website</p>
    
            <div class="flex gap-4">
                <span class="border py-2 rounded-full text-sm bg-gray-200/20 px-4">
                    Astro
                </span>
                <span class="border py-2 rounded-full text-sm bg-gray-200/20 px-4">
                    React
                </span>
                <span class="border py-2 rounded-full text-sm bg-gray-200/20 px-4">
                    TS
                </span>
            </div>
        </footer>
    
    </article>

    <article class="w-[50em] h-auto " data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="50">
        <div class="relative h-auto w-full bhg-white/10"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_400px_at_50%_200px,#380670,transparent)]">
        </div>
        <div class="relative w-[50em] overflow-hidden items-center justify-center py-20 pl-16 bg-white/10">
            
        <picture >
            <img class="w-full h-auto hover:scale-105 transition-all duration-300" src={example.src} alt="Stellar logo"/>
        </picture>
        </div>  
    </div>
        <footer class="flex justify-between p-4 ">
            <p class="font-medium text-xl">Stellar Website</p>
    
            <div class="flex gap-4">
                <span class="border py-2 rounded-full text-sm bg-gray-200/20 px-4">
                    Astro
                </span>
                <span class="border py-2 rounded-full text-sm bg-gray-200/20 px-4">
                    React
                </span>
                <span class="border py-2 rounded-full text-sm bg-gray-200/20 px-4">
                    TS
                </span>
            </div>
        </footer>
    
    </article>
   
</section>