
<section class="flex justify-between w-auto items-center mx-3 md:mx-20 my-32">
  <span 
  class="w-auto"
  data-aos="fade-zoom-in"
  data-aos-delay="50"
  data-aos-once="true"
  >
    <p
      class="text-4xl sm:text-5xl md:text-7xl font-bold text-white text_glowing animate-blurred-fade-in transition-all duration-1000"
    >
      Making awesome your digital experices
    </p>
  </span>
    <div class="bg-cyan-400/40 w-[20%] rounded-full blur-3xl h-32 -z-5 absolute right-0 mr-12"/>
    <span
    data-aos="fade-down"
    data-aos-delay="50"
    data-aos-once="true"
     data-aos-easing="ease-in-sine"
     >
    <a
    class=" text-xl sm:text-2xl md:text-4xl font-bold text-cyan-100 mt-5 z-20 animate-blurred-fade-in transition-all duration-500 text-nowrap hover:text-white border p-2 rounded-full md:mx-2" href="/Contact">Get in touch!</a>
  </span>
</section>


