---
import NetworkChanels from "./icons/NetworkChanels.astro"
---

<footer class="overflow-hidden py-4 mx-auto animate-blurred-fade-in transition-all duration-1000 bg-gradient-to-t from-indigo-400/40 via-indigo-400/40 to-transparent">
   
    <section id="contact-footer" class="navbar p-4 max-w-screen-lg mx-auto text-white text-xl aos-init" data-aos="slide-down" data-aos-duration="1000" data-aos-delay="150" data-aos-easing="ease-in-out">
       <p class="text-7xl md:text-8xl font-bold mb-6">Let's get in touch!</p>

       <span>We'd love to hear from you! Whether you have a question, or just want to say hello, feel free to reach out.<br/></span>
       <span>Drop us a message and we'll get back to you as soon as possible!</span>
       <div class="h-0.5 bg-white w-auto my-4"/>
       <NetworkChanels/>
    </section> 
    
</footer>



