---
import Services from "./Services.astro";
import StellarLogoOf from "@assets/StellarLogoOf.svg";

---

<section class="mb-20">
    <div class="relative">
        <div class="absolute -z-1 top-32 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white/20 rounded-full w-60 h-60 blur-3xl"> </div>
        <picture class="flex mx-4 justify-center items-center -z-0 md:pr-52 animate-blurred-fade-in transition-all duration-1000">
            <img src={StellarLogoOf.src} alt="Stellar logo" class="w-[12em] md:w-[22em] transition-all duration-1000"/>
  
                <p class=" mb-10 -mx-52 text-[50px] md:text-[120px] hero hidden md:block md:animate-blurred-fade-in transition-all duration-1000 text_glowing">tellar</p>
          
        </picture>
                
    </div>
    <h1 class="container mx-auto mt-8 text-6xl md:text-8xl font-bold px-10 pb-20 text-center transition-all duration-1000 animate-blurred-fade-in"><span class="text-cyan-300 text_glowing">Leading</span> you to <span class="text-cyan-300 text_glowing">success</span> with your own light!</h1>
    <div>
        
    <Services/>
        
        
</section>
<style>
  .hero {
  font-family: "Chokokutai", system-ui;
  font-weight: 400;
  font-style: normal;
  }
</style>

