---
interface Props {
    navLink:string
}

const { navLink } = Astro.props;



---
<div class="text-md font-medium z-50  md:overflow-visible flex md:translate-y-2 -translate-y-96 -translate-x-96 md:translate-x-0 transition-all duration-1000 animate-fade-out md:animate-fade-in">
 <a class={navLink} href="/Projects">Projects</a>

 <a class={navLink} href="/About">About us</a>

 <a class={navLink} href="/Blog">Blog</a>

 <a class={navLink} href="/Contact">Contact us</a>
</div>
