---
import example from "@assets/example.png";
---
<div class="container mx-auto">
    
<h2 class="text-5xl font-bold p-4 pb-10 md:pb-20 animate-fade-in transition-all duration-1000">
    PROJECTS & CLIENTS
</h2>

<section class="flex p-4 md:gap-12 gap-4 justify-center pb-28 z-50">
    <div class="flex-col flex md:flex-row gap-4 transition-all duration-1000">
        <article class="w-[100%] h-auto " data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="50">
            <div class="relative h-auto w-full bhg-white/10"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_400px_at_50%_200px,#380670,transparent)]">
            </div>
            <div class="relative w-[100%] overflow-hidden items-center justify-center py-20 pl-16 bg-white/10">
                
            <picture >
                <img class="w-full h-auto hover:scale-105 transition-all duration-300" src={example.src} alt="Stellar logo" loading="lazy"/>
            </picture>
            </div>  
        </div>
        <footer class="flex justify-between py-4 ">
            <p class="font-medium text-sm md:text-lg transition-all duration-300">Stellar Website</p>

            <div class="flex gap-2 md:gap-4">
                <span class="border h-6 rounded-full text-sm bg-gray-200/20 px-4">
                    Astro
                </span>
                <span class="border h-6 rounded-full text-sm bg-gray-200/20 px-4">
                    React
                </span>
                <span class="border h-6 rounded-full text-sm bg-gray-200/20 px-4">
                    TS
                </span>
            </div>
        </footer>
        
        </article>

        <article class="w-[100%] h-auto " data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="50">
            <div class="relative h-auto w-full bhg-white/10"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_400px_at_50%_200px,#380670,transparent)]">
            </div>
            <div class="relative w-[100%] overflow-hidden items-center justify-center py-20 pl-16 bg-white/10">
                
            <picture >
                <img class="w-full h-auto hover:scale-105 transition-all duration-300" src={example.src} alt="Stellar logo" loading="lazy"/>
            </picture>
            </div>  
        </div>
        <footer class="flex justify-between py-4 ">
            <p class="font-medium text-sm md:text-lg transition-all duration-300">Stellar Website</p>

            <div class="flex gap-2 md:gap-4">
                <span class="border h-6 rounded-full text-sm bg-gray-200/20 px-4">
                    Astro
                </span>
                <span class="border h-6 rounded-full text-sm bg-gray-200/20 px-4">
                    React
                </span>
                <span class="border h-6 rounded-full text-sm bg-gray-200/20 px-4">
                    TS
                </span>
            </div>
        </footer>
        
        </article>
    </div>
</section>
</div>